<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IST Location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style/stylesheet.css"/>
</head>
<body>

    <div id="sendLocation">
        <button v-on:click="handleSubmit">Send location</button>
        <p>Location has been sent <strong>{{ locationSentCounter }}</strong> times.</p>
        <p>Last time sent: {{ locationSentLast }}</p>
    </div>

    <div id="sendRange">
        <form @submit.prevent="handleSubmit">
            <label>
                <p>Max range (meters):</p>
                <input type="number" v-model="range">
                <br>
            </label>
            <button type="submit">Send range</button>
        </form>
    </div>

    <div id="sendMessage">
        <form @submit.prevent="handleSubmit">
            <label>
                <p>Send a message:</p>
                <input type="text" v-model="userMessage">
                <br>
            </label>
            <button type="submit">Send message</button>
        </form>
    </div>

    <div id="getNearbyUsers">
        <button v-on:click="getListOfNearbyUsers">Get nearby users</button>
        <li v-for="user in nearbyUsersList">
            {{ user.id }} - {{ user.userName }}
        </li>
    </div>

    <div id="getMessages">
        <button v-on:click="getListOfMessages">Get messages</button>
        <li v-for="message in messageList">
            <strong>{{message.name}}</strong>: {{ message.content }}
        </li>
    </div>
    
    <!--Axios Import-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--Vue import -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <!-- Local Javascript files import-->
    <script src="js/functions.js"></script>
    <script src="js/main.js"></script>

    <!-- Add user to DB -->
    <script>addUserToDB('81356', 'Lourenço Pato');</script>
    
</body>
</html>