@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
}

button {
    text-decoration: none;
    color: #55acee;
    border: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;

    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
    outline: 0;
    cursor: pointer;
}

button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    outline: 0;
}

button:hover {
    background-color: #FF983C;
}

li {
    margin-bottom: 10px;
}

.leftPanel {
    flex-basis: 33%;
    margin-bottom: 30px;
}

.middlePanel {
    flex-basis: 33%;
    margin-bottom: 30px;
}

.rightPanel {
    flex-basis: 33%;
    margin-bottom: 30px;
}

@media (max-width: 750px) {
    .leftPanel {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    
    .middlePanel {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    
    .rightPanel {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

.loader {
    position: fixed;
    width: 120%;
    height: 120%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 999!important;
    background: url('../loading.gif') 45% 45% no-repeat rgba(245,245,245,1);
    background-size: 70px 70px;
  }